TOKEN=INSERT_TOKEN
NEWS_API=INSERT_NEWS_API
GROQ_KEY=INSERT_GROQ_KEY
ADMIN_ID=123456789
CHANNEL_ID=@your_channel
BOT_USERNAME=@your_bot
ANTHROPIC_KEY=
TV_WEBHOOK_SECRET=change_this_secret_123
TV_WEBHOOK_PORT=8080
